body {
    background-color: #EEE;
    font-family: helvetica, Arial, sans-serif;
}
#container-fluid{
    background-color: #f9fbfcda;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}
#content {
    padding: 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns:  150px 550px; 
    
}
#nav {
    width: 180px;
    float: left;
}
#main {
    width: 600px;
    float: right;
}
#nav ul{
    list-style-type: none;
    padding: 0;
    
}
.selected {
    font-weight: bold;
    color: #66CCFF;
}
a {
    text-decoration: none;
}
h1 h2 h3 h4 {
    margin: 0;
}
a:hover {
    color: #5d8bd1;
}
#footer {
    background-color: #999999;
    color: white;
    text-align: center;
    clear: both;
    padding: 10px;
  
}
#image {
    text-align: center;
    padding-bottom: 0px;
    
}
h4 {
  
  text-align: center;
}